<h1>Auditorias</h1>
<button class="btn-doc btn-ex">
    <div class="button-content">
        <i class='bx bx-folder-plus'></i>
        <p>Craer Auditoria</p>
    </div>
</button>
<div class="bottom-data">
    <div class="List_table">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>Lista de Auditorias</h3>
            <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Responsable</th>
                    <th>Fecha de<br>Creacion</th>
                    <th>Fecha<br>Terminada</th>
                    <th>Propietario</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <ng-container>
                        <td>Pedro Martinez</td>
                        <td>
                            <p>21/06/2024</p>
                            <p>21:30</p>
                        </td>
                        <td>
                            <p>31/06/2024</p>
                            <p>22:30</p>
                        </td>
                        <td>Marta Perez</td>
                        <td><span class="status pending">Completo</span></td>
                        <td>
                            <button class="btn btn-doc" type="button">Descargar</button>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>