.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #468189;
}

.btn-link {
  color: #031926;
  text-decoration: none;
}

.btn-link:hover {
  color: #468189;
  text-decoration: underline;
}
