<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card text-center" style="width: 20rem;">
    <img src="assets/TerramineLogo.png" class="card-img-top" alt="Terramine Logo">
    <div class="card-body">
      <h5 class="card-title">Log in</h5>
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de usuario</label>
          <input type="text" class="form-control" id="username" placeholder="Nombre de usuario">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="Contraseña">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
