<div class="toggle-container">
    <div class="toggle">
        <div class="toggle-panel toggle-right">
            <img src="./IMG/Login/logo-terramine.png" alt="Logo Terramine">
            <p>Ingrese sus credenciales para acceder a todas las funcionalidades de nuestra plataforma.</p>
            <button class="hidden">
                <div class="button-content">
                    <i class="bx bx-briefcase"></i>
                    <span>IT-SERVICE</span>
                </div>
            </button>
            
            <button class="hidden" >
                <div class="button-content">
                    <i class="bx bx-envelope"></i>
                    <span>CORREO</span>
                </div>
            </button>
            
        </div>
    </div>
</div>