<div class="container">
    <h2>Panel Principal</h2>
    <div class="list-group">
      <a routerLink="/documentos" class="list-group-item list-group-item-action">Documentos</a>
      <a routerLink="/proyectos" class="list-group-item list-group-item-action">Proyectos</a>
      <a routerLink="/tareas" class="list-group-item list-group-item-action">Tareas</a>
      <a routerLink="/equipos" class="list-group-item list-group-item-action">Equipos</a>
      <a routerLink="/mantenimientos" class="list-group-item list-group-item-action">Mantenimientos</a>
      <a routerLink="/gestion-permisos" class="list-group-item list-group-item-action">Gestión de Permisos</a>
      <a routerLink="/auditoria" class="list-group-item list-group-item-action">Auditoría</a>
      <a routerLink="/informes" class="list-group-item list-group-item-action">Informes</a>
    </div>
  </div>
  