<div class="dashboard">
  <h2>Panel Principal</h2>
  <div *ngIf="role === 'admin'">
    <a routerLink="/documentos">Documentos</a>
    <a routerLink="/proyectos">Proyectos</a>
    <a routerLink="/tareas">Tareas</a>
    <a routerLink="/equipos">Equipos</a>
    <a routerLink="/mantenimientos">Mantenimientos</a>
    <a routerLink="/gestion-permisos">Gestión de Permisos</a>
    <a routerLink="/auditoria">Auditoría</a>
    <a routerLink="/informes">Informes</a>
  </div>
  <div *ngIf="role === 'manager'">
    <a routerLink="/proyectos">Proyectos</a>
    <a routerLink="/tareas">Tareas del Equipo</a>
    <a routerLink="/documentos">Documentos del Departamento</a>
    <a routerLink="/informes">Informes</a>
  </div>
  <div *ngIf="role === 'employee'">
    <a routerLink="/tareas">Mis Tareas</a>
    <a routerLink="/documentos">Mis Documentos</a>
  </div>
</div>
s
